<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p><input name="name1"></p>
    <button id="download-pdf"> Generate</button>
    </p>
    <script>
        const downloadPdf = document
            .querySelector("#download-pdf");
        downloadPdf
    </script>
</div>
<div>
    <a href="/pdf/">download merged pdf</a>
</div>


<div>
    <a href="/pdf1/">Generate after you have uploaded 2</a>
</div>


<div style="solid-color: aliceblue; ">
    <form action="/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="file"><br>
        <button>Upload</button>
    </form>
</div>


<!--<div>-->
<!--    <input type="file" id="file">-->
<!--    <script>-->
<!--        const $input = document.querySelector('#file');-->
<!--        $input.addEventListener('change', event => {-->
<!--            const data = new FormData();-->
<!--            data.append('file', event.target.files[0]);-->
<!--            fetch('/upload', {-->
<!--                method: 'post',-->
<!--                body: data-->
<!--            }).then(res => res.text()).then(res => {-->
<!--                const log = document.createElement('p');-->
<!--                log.innerHTML = res;-->
<!--                document.body.appendChild(log);-->
<!--            })-->
<!--        })-->
<!--    </script>-->
<!--</div>-->

</body>
</html>