<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>

<div>
    <a href="/pdf/">download merged pdf</a>
</div>

<div class="ui-widget">
    <form action="/upload" enctype="multipart/form-data" method="post" class="container">
        <input type="file" name="file"><br>
        <button>Upload</button>
    </form>
</div>

<div class="ui-widget">
    <form action="/pdf1/" class="container">
        <!-- HTML !-->
        <!--        <link href="/css/button.css" rel="stylesheet"/>-->
        <button role="button" class="btn-light">Merge all uploaded pdf</button>
    </form>

</div>

<div>
    <table class="table" aria-setsize="10">
        <thead>
        <tr>
            <th>file names</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="filename : ${filesnames}">
            <td th:text="${filename}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>