<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/js/progress.js}" scope=>-->
    <link rel="icon" type="image/x-icon" th:href="@{/images/picture-as-pdf.ico}">

</head>
<script th:src="@{/js/progress.js}"></script>
<style>
    #Progress_Status {
        width: 50%;
        background-color: #ddd;
    }

    #progressBar {
        width: 0%;
        height: 20px;
        background-color: #4CAF50;
    }

    /*#myprogressBar {*/
    /*    border: none;*/
    /*    background-color: #5068f6;*/
    /*}*/
</style>

<body>
<main>
    <a href="/">
        <header class="brand-name">
            <img class="brand-logo" src="../static/images/logo.jpg" width="50"
                 th:src="@{/images/logo.jpg}" alt="logo" aria-hidden="true">
        </header>
    </a>
</main>
<div class="ui-widget">

    <!--    <table class="table">-->

    <div>
        <form action="/uploadIMG" enctype="multipart/form-data" method="post" class="popup">
            <input type="file" name="file"><br>
            <button onclick="start()">Upload</button>
        </form>
    </div>


</div>
<div>
    <form action="/Generate">
        <button onclick="start()">Get Images From PDF</button>
    </form>

</div>
<div>
    <form action="/Zip">
        <button onclick="start()">Compress and Download ZIP</button>
    </form>
</div>

<div id="Progress_Status">
    <div id="progressBar"></div>
</div>

<div>
    <table class="table" aria-setsize="10">
        <thead>
        <tr>
            <th>file name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${fileofPics}">
            <td th:text="${file}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>