<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>main page</title>
</head>
<body>
<main>
    <a href="/">
        <header class="brand-name">
            <img class="brand-logo" src="../static/images/logo.jpg" width="50"
                 th:src="@{/images/logo.jpg}" alt="logo" aria-hidden="true">
        </header>
    </a>
</main>

<h3 class="text-center">Welcome to Thymeleaf Spring Boot web application</h3>
<h4 class="text-center">Here what you can do:</h4>
<div>
    <div>
        <form action="/MergePDF" method="get" class="text-center">
            <button>Merge 2/more PDF</button>
        </form>
    </div>
    <div>
        <form action="/ExtractIMG" method="get" class="text-center">
            <button>Extract Images</button>
        </form>
    </div>
</div>
</body>
</html>